<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<dubbo:service interface="com.zlebank.zplatform.acc.service.AccEntryService" ref="accEntryServiceImpl" version="1.0" timeout="30000" retries="0"/>  
  
  <dubbo:service interface="com.zlebank.zplatform.acc.service.AccountQueryService" ref="accountQueryServiceImpl" version="1.0" timeout="30000" retries="0"/>  
  
  <dubbo:service interface="com.zlebank.zplatform.acc.service.AccountService" ref="accountServiceImpl" version="1.0"  timeout="30000" retries="0"/>  
  
  <dubbo:service interface="com.zlebank.zplatform.acc.service.BusiAcctService" ref="busiAcctServiceImpl" version="1.0"  timeout="30000" retries="0"/>  
  
  <dubbo:service interface="com.zlebank.zplatform.acc.service.ChannelService" ref="channelServiceImpl" version="1.0"  timeout="30000" retries="0"/>  
  
  <dubbo:service interface="com.zlebank.zplatform.acc.service.FreezeAcctService" ref="freezeAcctServiceImpl" version="1.0" timeout="30000" retries="0"/>  
  
  <dubbo:service interface="com.zlebank.zplatform.acc.service.FreezeAmountService" ref="freezeAmountServiceImpl" version="1.0" timeout="30000" retries="0"/>  
  
  <dubbo:service interface="com.zlebank.zplatform.acc.service.SubjectSelector" ref="mappingTableSubjectSelector" version="1.0" timeout="30000" retries="0"/>  
  
  <dubbo:service interface="com.zlebank.zplatform.acc.service.SubjectService" ref="subjectServiceImpl" version="1.0" timeout="30000"/>
</beans>